:root {
--primary-color: #055a05;  /* forest green */
--accent1-color: #264653; /* dark slate blue*/
--accent2-color: #e9c46a; /* light golden yellow */
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: #000;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
  }

header {
   background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 16px;
    align-items: center;
}

header img {
    height: 80px;
    width: auto;
}

nav {
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #0066cc;
    margin-left: 16px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 16px;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
   position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background-color*/
}
    
   .hero article {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    align-items: center;  
}

.hero article img {
    width: 125px;
    float: right;
   }

.hero article p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.6;
}

section {
    margin: 0;
    padding: 16px;
}

section p {
    margin: 0;
    padding: 16px;
    font-size: 14px;
    line-height: 1.6;
}

footer {
    background-color: var(--accent1-color);
    color: #fff;
    padding: 16px;
   }

footer p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.socialmedia {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: 32px;
}

